
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}
body {
  
    background: rgb(78,146,187);
    background: linear-gradient(90deg, rgba(78,146,187,0.2050070028011205) 0%, rgba(2,250,251,1) 0%, rgba(71,152,193,1) 34%, rgba(68,154,195,1) 43%, rgba(72,151,192,1) 64%, rgba(0,212,255,1) 82%);
}
.aTag {
    background-color:darkorange;
    margin-top: 155px;
    padding:15px;
    border-color: crimson;
}